header {
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 200px;
    
}

body {
background-color: lightgray;
height: 800px;
}

.divleft {
    float: left;
    background-color:darkgray;
    height: 1100px;
    width: 200px;
}

.divright {
    float: right;
    background-color: darkgray;
    height: 1100px;
    width: 200px;
}
footer {
    background-color: black;
    height:100px;
    width:100%;
    margin-top: 1000px;
}